<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel='stylesheet' href='/stats.css' />
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">
                    <i class="fa fa-usd" style="color: #fabc09" aria-hidden="true"></i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Total Revenue
                        <div class="pull-right badge">$ {{total_revenue}}</div>
                    </h4>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">
                    <i class="fa fa-users" style="color:#16A085"></i></i>

                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Total Users
                        <div class="pull-right badge">{{total_users}}</div>
                    </h4>
                </div>

            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_header" style="background-color:  rgba(213, 15, 37, 0.1)">
                    <i class="fa fa-exclamation-triangle" style="color:#d50f25"> </i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Active Orders
                        <div class="pull-right badge">{{all_active}}</div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_header" style="background-color:  rgba(51, 105, 232, 0.1)">
                    <i class="fa fa-thumbs-up" style="color:#3369e8"> </i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Inactive Orders
                        <div class="pull-right badge">{{all_inactive}}</div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">

                <div class="wrimagecard-topimage_header" style="background-color:  rgba(250, 188, 9, 0.1)">
                    <i class="fa fa-money" style="color:#fabc09"> </i>
                </div>
                <div class="wrimagecard-topimage_title">
                    <h4>Potential Revenue
                        <div class="pull-right badge">$ {{total_potential_revenue}}</div>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">
                <a href="/admin-product-quantity">
                    <div class="wrimagecard-topimage_header" style="background-color: rgba(121, 90, 71, 0.1)">
                        <i class="fa fa-balance-scale" style="color:#795a47"> </i>
                    </div>
                    <div class="wrimagecard-topimage_title">
                        <h4>Check Product Quatity
                            <div class="pull-right badge" id="WrNavigation"></div>
                        </h4>
                    </div>

                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">
                <a href="/admin-popular-product">
                    <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                        <i class="fa fa-magic" style="color:#825d09"></i>
                    </div>
                    <div class="wrimagecard-topimage_title">
                        <h4> Most Popular Products
                            <div class="pull-right badge" id="WrThemesIcons"></div>
                        </h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="wrimagecard wrimagecard-topimage">
                <a href="/admin-manager">
                    <div class="wrimagecard-topimage_header" style="background-color: #e0e0eb">
                        <center><i class="fa fa-backward" style="color:#5c5c8a"> </i></center>
                    </div>
                    <div class="wrimagecard-topimage_title">
                        <h4>Back
                            <div class="pull-right badge" id="WrNavigation"></div>
                        </h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>