<link rel='stylesheet' href='/style.css' />
<div class="container-fluid">
    <div class="col-md-3">

        <div id="sidebar">
 

            <ul class="nav navbar-nav side-bar">
                <li class="side-bar tmargin"><a href="/account-manager"><span
                            class="glyphicon glyphicon-list">&nbsp;</span>Dashboard</a></li>
                <li class="side-bar"><a href="/admin-all-users"><span class="glyphicon glyphicon-flag">&nbsp;</span>User Info</a></li>
                <li class="side-bar"><a href="/admin-statistics"><span class="glyphicon glyphicon-signal">&nbsp;</span>Statistics</a>
                </li>
                <li class="side-bar"><a href="/admin-order-info"><span class="glyphicon glyphicon-cog">&nbsp;</span>Order Info</a>
                </li>
                <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-cog">&nbsp;</span>Edit Products</a>
                </li>
                <li class="side-bar"><a href="#"><span class="glyphicon glyphicon-cog">&nbsp;</span>Edit Contact</a>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="col-md-9 animated bounce">
        <h1 class="page-header">Dashboard</h1>

        <table class="table table-hover">
            <thead>
                <th>&nbsp;</th>
                <th class="text-center">Order ID</th>
                <th>Total Cost</th>
                <th>Order Notes</th>
                <th>Placed On</th>
                <th>Pick Up </th>
                <th class="text-center">User ID</th>
                <th>Status</th>

            </thead>
            <tbody>
                <!-- START CONTENT END -->
                {{#each orders }}
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td class="text-center" width="10%">{{order_ID}}</td>
                    <td width="12%">$ {{total_cost}}</td>
                    <td width="30%">{{order_notes}} </td>
                    <td width="30%">{{placed_on}} </td>
                     <td width="30%">{{date_time}} </td>
                    <td class="text-center" width="10%">{{user_ID}}</td>
                    <td><span class="label label-info"><span
                                class="glyphicon glyphicon-time">&nbsp;</span>{{is_active}}</span>
                    </td>
                </tr>
                {{/each}}

                <!-- DUMP CONTENT END -->

            </tbody>

        </table>
    </div>
</div>

</div>