<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://cdn.pixabay.com/photo/2016/08/31/11/55/user-1633250_960_720.png" alt="..." />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5> My Account </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Account Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">My Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <p>Change Info <a href="/edit-account-info">edit</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {{#each user }}
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ phone_number }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ address }}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Order Placed</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Status</th>
                                <th scope="col">Pick Up</th>
                            </tr>
                        </thead>
                        {{#each orders }}
                        <tbody>
                            <tr>
                                <td>{{ placed_on }}</td>
                                <td>$ {{ total_cost }}</td>
                                <td>{{ is_active }}</td>
                                <td>{{ date_time }}</td>
                            </tr>
                        </tbody>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
</div>
</div>
</div>
</form>
</div>