<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="144" height="144" viewBox="0 0 48 48"
                        style=" fill:#000000;">
                        <linearGradient id="M~bdDD8~AbDFLBkBs2hIZa_VYvOvJrZaC9T_gr1" x1="24" x2="24" y1="27.973"
                            y2="46.018" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#e5a505"></stop>
                            <stop offset=".01" stop-color="#e9a804"></stop>
                            <stop offset=".06" stop-color="#f4b102"></stop>
                            <stop offset=".129" stop-color="#fbb600"></stop>
                            <stop offset=".323" stop-color="#fdb700"></stop>
                        </linearGradient>
                        <path fill="url(#M~bdDD8~AbDFLBkBs2hIZa_VYvOvJrZaC9T_gr1)"
                            d="M27,40c0-0.815,0.396-1.532,1-1.989v-3.289c-0.595-0.346-1-0.984-1-1.723	c0-0.738,0.405-1.376,1-1.723V28h-8v15.171c0,0.531,0.211,1.039,0.586,1.414L22,46h3.639l1.653-1.401	C27.741,44.219,28,43.661,28,43.073v-1.084C27.396,41.532,27,40.815,27,40z">
                        </path>
                        <linearGradient id="M~bdDD8~AbDFLBkBs2hIZb_VYvOvJrZaC9T_gr2" x1="14.956" x2="31.715" y1="4.953"
                            y2="29.317" gradientUnits="userSpaceOnUse">
                            <stop offset="0" stop-color="#fede00"></stop>
                            <stop offset="1" stop-color="#ffd000"></stop>
                        </linearGradient>
                        <path fill="url(#M~bdDD8~AbDFLBkBs2hIZb_VYvOvJrZaC9T_gr2)"
                            d="M37,15c0-7.18-5.82-13-13-13S11,7.82,11,15c0,0.338,0.025,0.669,0.051,1H11v8	c0,2.209,1.791,4,4,4h18c2.209,0,4-1.791,4-4v-8h-0.051C36.975,15.669,37,15.338,37,15z M24,7c2.209,0,4,1.791,4,4s-1.791,4-4,4	s-4-1.791-4-4S21.791,7,24,7z">
                        </path>
                    </svg>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5> My Account </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Account Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">My Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <p>Change Info <a href="/edit-account-info">edit</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {{#each user }}
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ phone_number }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ address }}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Order Placed</th>
                                    <th scope="col">Cost</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Pick Up</th>
                                </tr>
                            </thead>
                            {{#each orders }}
                            <tbody>
                                <tr>
                                    <td>{{ placed_on }}</td>
                                    <td>$ {{ total_cost }}</td>
                                    <td>{{ is_active }}</td>
                                    <td>{{ date_time }}</td>
                                </tr>
                            </tbody>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</form>
</div>